# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor directories and files
.vscode/
.idea/

# macOS metadata
.DS_Store

# Local configuration
run_lines.txt
whi.txt
collections/

Basic_Acid.mp3
imbatch2soundvisu/user_secrets.py